*{
    padding: 0;
    margin: 0;
}

.Menu{
    width: 100%;
    height: 70px;
    background-color: #000;
}

.Menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.Menu li{
    float: left;
}

.Menu li a{
    display: block;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    padding: 14px;
}

.Menu li a:hover{
    color: #000;
    background-color: #FFF;
}